.App {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
}

@media (min-width: 576px) {
  .App {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .App {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .App {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .App {
    max-width: 1140px;
  }
}